@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@500;600;700;800&display=swap');

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: rgb(22, 10, 75); */
  background: linear-gradient(to right, #a7e2ff, rgb(29, 12, 107));
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

#root {
  /* background-color: rgb(22, 10, 75); */
  background: linear-gradient(to top, #574bfd, rgb(46, 34, 100), rgb(7, 0, 41));
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

a {
  cursor: pointer;
}

a.active {
  color: #cecaff;
  text-decoration: none;
}

#nameCanvas {
  margin-bottom: 20vh;
}

input[type='range'] {
  -webkit-appearance: none;
  width: 300px;
  margin-top: 15px;
  height: 7px;
  background: #5194ff;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #0a216d;
  cursor: pointer;
  box-shadow: 0 0 3px 0 #c3caf8;
}



input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: #0099ff50 0px 0px 0px 5px;
}

input[type="range"]::-webkit-slider-thumb:active {
  box-shadow: #0099ff50 0px 0px 0px 8px;
  transition: box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, left 350ms cubic- bezier(0.4, 0, 0.2, 1) 0ms, bottom 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}


@media only screen and (max-width: 1250px) {
  #nameCanvas {
    margin-bottom: 0;
  }
}