.navBar {
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  display: flex;
  position: relative;
  width: 50px;
  height: 50px;
  place-content: center;
  overflow: hidden;
  background: rgba(255, 255, 255, 0);
}

.item {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: visible;
  stroke: #fff;
  stroke-width: 8;
  stroke-linejoin: round;
  stroke-linecap: round;
  fill: none;
}

.container:hover>.item {
  fill: rgb(49, 31, 131);

}

.yt {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 15px;
  font-weight: 500;
  font-family: "Lucida Sans", Arial, sans-serif;
  color: #fff;
}

.navItems {
  display: flex;
}

.nav {
  font-size: 24px;
  margin-right: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}