@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@600;700;800&display=swap');

.container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 105vh;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 5vw;
  margin-top: 50px;
  cursor: default;
}

.dash {
  display: inline-block;
  position: relative;
  font-size: max(7vw, 80px);
  font-weight: 800;
  background: linear-gradient(to right, #c9b7ff, #fffa62);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: Catamaran, Arial, sans-serif;
  white-space: nowrap;
  z-index: 0;
  cursor: text;
}

.dash::after {
  content: '';
  width: 1px;
  position: relative;
  border-right: 2px solid white;
  animation: 1s ease-in 6s 18 both dash;
  opacity: 0
}

@keyframes dash {
  24% {
    opacity: 0
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  76% {
    opacity: 0
  }
}

.name {
  font-size: 58px;
  font-family: Catamaran, Arial, sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
}

.content {
  width: max(45vw, 300px);
  font-size: max(2.5vw, 28px);
  font-family: Catamaran, Arial, sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  text-align: center;
  color: aqua;
  margin-top: 10px;
}

.scrollElements {
  position: absolute;
  display: inline;
  transform: translate(-50%, -50%);
  left: 93vw;
  top: 85vh;
  z-index: 10;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.scroll {
  color: white;
  font-weight: 600;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-right: 5px;
  font-family: Catamaran, Arial, sans-serif;
  letter-spacing: 3px;
  cursor: pointer;
}

.scrollDown {
  position: absolute;
  right: -1px;
  top: 0;
  width: 2px;
  background-color: white;
  z-index: 10;
  animation: 2s scroll 6s 7 both;
  opacity: 0;
}

@keyframes scroll {
  0% {
    opacity: 0;
    transform: translateY(0vh);
    height: 0px;
  }

  50% {
    opacity: 1;
    transform: translateY(0vh);
    height: 80px;
  }

  100% {
    opacity: 1;
    transform: translateY(17vh);
    height: 0px;
  }
}

.scrollDown2 {
  cursor: pointer;
}

.item {
  width: 20px;
  height: 10vh;
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateX(-50%);
  overflow: visible;
  stroke: white;
  stroke-width: 0.3px;
  stroke-linejoin: miter;
  stroke-linecap: round;
  fill: none;
}

.initials {
  display: inline-block;
  animation: 0.9s jello-horizontal 7.6s both;
  color: #c9b7ff;
  font-size: 70px;
}

.initials2 {
  width: 30px;
  height: 80px;
  display: inline-block;
  color: #c9b7ff;
  animation: 0.9s jello-horizontal 10.9s both;
  font-size: 70px;
}

.initialsAnimate:hover {
  animation: 0.9s jello-horizontal2 both;
  transform: scale(1);
}


@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.5, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.75, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jello-horizontal2 {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.5, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.75, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.wrapper {
  display: inline-block;
  animation: 7s doty 6s;
}

@keyframes doty {
  0% {
    transform: translateY(-80px);
  }

  4% {
    animation-timing-function: cubic-bezier(.45, .83, .65, 1);
    transform: translateY(-35px);
  }

  14% {
    animation-timing-function: cubic-bezier(.35, 0, .55, .17);
    transform: translateY(-100px);
  }

  24% {
    animation-timing-function: cubic-bezier(.45, .83, .65, 1);
    transform: translateY(-30px)
  }

  50% {
    animation-timing-function: cubic-bezier(.35, 0, .55, .17);
    transform: translateY(-170px);
  }

  70% {
    animation-timing-function: cubic-bezier(.45, .83, .65, 1);
    transform: translateY(-45px)
  }

  81% {
    animation-timing-function: cubic-bezier(.35, 0, .55, .17);
    transform: translateY(-100px)
  }

  92% {
    transform: translateY(0px)
  }


  94% {
    transform: translateY(-20px)
  }

  96% {
    transform: translateY(0px)
  }

  98% {
    transform: translateY(-7px)
  }

  100% {
    transform: translateY(0px)
  }
}

.dot {
  display: inline-block;
  animation: 7s dot 6s linear;
}


@keyframes dot {
  0% {
    transform: translateX(-480px);
  }

  4% {
    transform: translateX(-480px);
  }

  24% {
    transform: translateX(-370px)
  }

  70% {
    transform: translateX(-140px)
  }

}