.nav {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background-color: 'transparent';
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.circle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 350px;
  background: #211c68;
  border-left: 2px solid rgb(56, 37, 150);
  z-index: 100;
}

.sideBarOpen {
  margin-right: 15px;
}

.svg {
  width: 25px;
  height: 25px;
}

.btn {
  z-index: 100;
  outline: none;
  border: none;
  background: transparent;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 12px;
  right: 30px;
}

.sideBar {
  margin: 0;
  padding: 20px 30px;
}

.items {
  list-style: none;
  font-size: 30px;
  margin-bottom: 10px;
  text-decoration: none;
}