.nav {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background-color: 'transparent';
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.circle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 350px;
  background: #211c68;
  border-left: 2px solid rgb(56, 37, 150);
  box-shadow: inset 2px 0px 10px 0px rgb(42, 99, 255);
  z-index: 100;
}

.sideBarClose {
  margin-right: -15px;
}

.svg {
  width: 25px;
  height: 25px;
}

.btn {
  z-index: 100;
  outline: none;
  border: none;
  background: transparent;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 12px;
  right: 30px;
}

.content {
  height: 99vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sideBar {
  margin: 0;
  margin-top: 30px;
  padding: 20px 30px;
}

.items {
  position: relative;
  padding: 5px 10px 5px 0px;
  list-style: none;
  font-size: 30px;
  margin-bottom: 20px;
  text-decoration: none;

}


.link {
  font-family: Catamaran, Arial, sans-serif;
  padding-left: 30px;
  padding-right: 150px;
  text-decoration: none;
  color: white;
  border-left: 10px solid rgb(147, 137, 255);
  font-size: 24px;
  letter-spacing: 1px;
  transition: transform 0.2s;
}

.link:hover {
  color: rgb(61, 152, 249);
  border-left: 10px solid rgb(105, 92, 255);
  transform: translateY(-10px);
}

.icon {
  color: rgb(194, 254, 254);
  font-size: 35px;
  cursor: pointer;
  margin-bottom: 30px;
  margin-right: 10px;
  transition: transform 0.2s;

}

.icon:hover {
  transform: translateY(-5px);
}

@media only screen and (max-width: 414px) {
  .sideBarClose {
    margin-right: 0;
  }
}