.miniproject {

  width: 380px;
  margin: 5px 10px;
  padding: 10px 10px;
  transition: transform 0.3s;
}

.miniproject:hover {
  transform: translateY(-5px);
}

.tag {
  position: relative;
  width: 50%;
  height: 35px;
  background-color: #15284d;
  border-radius: 15px 30px 0px 0;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15) inset
}

.tag::after {
  content: '';
  position: absolute;
  right: -30px;
  bottom: 0px;
  width: 40px;
  height: 20px;
  background-color: #15284d;
}

.corner {
  position: absolute;
  width: 43px;
  height: 43px;
  right: -37px;
  bottom: 0px;
  background-color: #1F3359;
  border-radius: 0px 0px 0px 30px;
  z-index: 10;
}


.fileTop {
  width: 100%;
  height: 70px;
  position: relative;
  padding-left: 30px;

  border-radius: 0px 20px 0 0;
  background-color: #15284d;
}

.icon {
  margin-right: 30px;
  position: relative;
  font-size: 30px;
  z-index: 500px;
  transform: translateY(-20px);
  cursor: pointer;
}

.icon:hover {
  color: rgb(176, 155, 129);
}

.file {
  position: relative;
  margin-top: -50px;
  width: 100%;
  height: 250px;
  background-color: #283a5c;
  border: 2px solid #557cbf;
  border-radius: 20px;
  box-shadow: 0 -7px 20px 0 rgba(17, 5, 5, 0.5), 0 -11px 22px 9px rgba(59, 59, 157, 0.62) inset;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #bbd0f3;
  cursor: pointer;
  transition: transform 0.3s;
  z-index: 10;
}

.file:hover {
  transform: rotateX(16deg);
  transform-origin: 100% 100%;
  box-shadow: 0 -7px 20px 0 rgba(17, 5, 5, 0.657);
  border-top: 2px solid #859fff;
  z-index: 10;
}

.file:hover:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2) 80%, transparent 98%, #78aaff);
  width: 100%;
  height: 100%;
  z-index: 10;
}

.fileIcon {
  position: absolute;
  right: 50%;
  top: 50%;
  opacity: 0;
  z-index: 20;
  background: #04183e;
  width: 80px;
  height: 80px;
  padding: 20px;
  border-radius: 30px;
  transform: translate(50%, -25%);
  transition: transform 0.25s;
}

.file:hover .fileIcon {
  right: 50%;
  top: 50%;
  position: absolute;
  color: rgb(171, 237, 255);
  transform: translate(50%, -50%);
  opacity: 1;
  transition: 0.45s;
}

.paper {
  position: absolute;
  left: 15px;
  top: 75px;
  width: 350px;
  height: 100px;
}

.file:hover~.paper {
  position: absolute;
  left: 15px;
  top: 65px;
  width: 350px;
  height: 100px;
  background: rgb(234, 234, 234);
  border-radius: 5px;
  transition: .5s;
}

.title {
  color: #d0edff;
}

.skills {
  font-size: 18px;
  color: #bfd1f1;
}

.bodyLink {
  display: none;
}