@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;600;700;800&display=swap');

.project {
  font-family: Catamaran, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0px auto 40px;
  padding: 0 15px;
  max-width: 1300px;
}

.projectBox {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.projectImg {
  width: 500px;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  background-color: #0000004a;
  cursor: pointer;
}

.projectImg:hover:after {
  content: '';
  position: absolute;
  background-color: #0000004a;
  width: 100%;
  height: 100%;
  border: 2px #78aaff solid;
  box-shadow: 0px 0px 5px #78aaff87;
  border-radius: 10px;
  transition: 0.3s;
}

.image {
  width: 480px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.fileIcon {
  position: absolute;
  right: 50%;
  top: 50%;
  opacity: 0;
  z-index: 20;
  background: #abc8ff;
  color: #17356a;
  width: 80px;
  height: 80px;
  padding: 20px;
  border-radius: 30px;
  transform: translate(50%, -25%);
  transition: transform 0.2s;
}

.projectImg:hover .fileIcon {
  right: 50%;
  top: 50%;
  position: absolute;
  transform: translate(50%, -50%);
  opacity: 1;
}

.projectContent {
  width: 100%;
  height: 100%;
  padding: 0 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-direction: column;
}

.projectTitle {
  font-size: 32px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 5px;
}

.projectDate {
  text-align: right;
  font-size: 22px;
  padding-left: 20px;
}

.projectContext {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #bbd0f3;
  background: transparent;
  line-height: 1.5rem;
  height: 100%;
  padding: 20px;
  border-top: rgba(137, 115, 247, 0.6) 1px solid;
  border-bottom: rgba(137, 115, 247, 0.6) 1px solid;
  margin-top: 5px;
  font-size: 18px;
  white-space: break-spaces;
}

.links {
  display: flex;
  flex-direction: row-reverse;
}

.skills {
  padding: 0;
  margin: 0;
  font-size: 18px;
  color: rgb(164, 232, 254);
  font-weight: 400;
}


.icon {
  font-size: 25px;
  margin-right: 20px;
  font-size: 30px;
  cursor: pointer;
}

.icon:hover {
  color: #86b2ff;
  transform: translateY(1px);
  transition: 0.2s;
}

.bodyLink {
  display: none;
}

@media only screen and (max-width: 1250px) {
  .projectImg {
    width: 35vw;
  }

  .image {
    width: calc(35vw - 20px);
  }
}

@media only screen and (max-width: 900px) {
  .project {
    padding: 0 5px;
  }

  .projectContent {
    padding: 0 10px;
  }

  .projectContext {
    padding: 10px
  }
}

@media only screen and (max-width: 750px) {
  .project {
    flex-direction: column;
  }

  .projectContent {
    padding: 0;
  }

  .projectImg {
    width: 80vw;
    margin-bottom: 20px;
    height: auto;
  }

  .image {
    width: calc(80vw - 20px);
  }
}

@media only screen and (max-width: 415px) {
  .projectContext {
    padding: 15px 10px;
  }

  .projectContent {
    padding: 0;
  }

  .projectImg {
    width: 80vw;
    height: auto;
  }
}