.project {
  display: flex;
  justify-content: center;
  align-items: stretch;
  position: relative;
  margin: 0px auto 40px;
  padding: 0 15px;
  max-width: 1200px;
}

.projectBox {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.projectImg {
  width: 500px;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  background-color: #0000004a;
}

.projectImg:hover:after {
  content: '';
  position: absolute;
  background-color: #0000004a;
  width: 100%;
  height: 100%;
}

.image {
  width: 480px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.projectContent {
  width: 100%;
  height: 100%;
  padding: 0 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-direction: column;
}

.projectTitle {
  font-size: 32px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 5px;
}

.projectDate {
  text-align: right;
  font-size: 18px;
  margin-bottom: 5px;
  padding-left: 20px;
}

.projectContext {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #bbd0f3;
  background: transparent;
  line-height: 1.5rem;
  height: 100%;
  padding: 20px;
  border-top: rgba(137, 115, 247, 0.6) 1px solid;
  border-bottom: rgba(137, 115, 247, 0.6) 1px solid;
  margin-top: 5px;
  font-size: 18px;
}

.links {
  display: flex;
  flex-direction: row-reverse;
}

.skills {
  display: flex;
  flex-direction: row-reverse;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.skills li {
  list-style-type: none;
  color: rgba(255, 255, 255, 0.78);
  margin-right: 5px;
}

.icon {
  font-size: 25px;
  margin-right: 20px;
  font-size: 26px;
}